@import '_variables.sass'
@import '_mixins.sass'

*
	text-decoration: none
	font-family: 'Museo Sans Cyrl', sans-serif

a
	text-decoration: none

.container
	max-width: 950px
	margin: 0 auto

@import 'blocks/promo.sass'
@import 'blocks/header.sass'
@import 'blocks/_buttons.sass'